.viewObj {
  margin: 50px;
  margin-top: 30px;
  font-size: 1.2rem;
  border-collapse: collapse;
  margin-bottom: 0;
  font-style: italic;
  th,
  tr,
  td {
    padding: 1rem;
    border: 2px solid #000;
    min-width: 220px;
    max-width: 220px;
    text-align: center;
  }
  tr:hover {
    background-color: rgba(182, 182, 182, 0.26);
  }
  td:last-child {
    min-width: 600px;
    max-width: 600px;
  }
  td:nth-child(3) {
    min-width: 300px;
    max-width: 300px;
  }
  th {
    font-size: 1.5rem;
    user-select: none;
  }
}
